@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #7737f9;
  min-width: 200px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.display {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #7f45e2;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  height: 5px;
  padding: 20px;
  font-size: 2rem;
  text-align: right;
  color: #ebebeb;
  font-family: Rubik;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

button {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: none;
  cursor: pointer;
  color: #ebebeb;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.48px;
  border-radius: 999px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #2d2a37;
  box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.06) inset,
    0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 11px 7px 0px rgba(0, 0, 0, 0.01);
}

button:hover {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
  box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.1) inset,
    0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 11px 7px 0px rgba(0, 0, 0, 0.01);
}

.opr {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #462878;
  box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.1) inset,
    0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 11px 7px 0px rgba(0, 0, 0, 0.01);
  font-weight: 500;
}

.eql {
  background: orangered;
  font-weight: 900;
}

.button:active {
  background: #000;
  transform: translate(2px, 2px);
}

.title {
  background: linear-gradient(75deg, #00e1ff88, #6f00ff73 48%, #ff686871);
  border-radius: 10px;
  padding: 5px 28px;
  font-size: 40px;
  margin-top: 10vh;
  margin-bottom: 2vh;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.444);
  border-top: 1px solid #2d2a37;
  border-bottom: 1px solid #2d2a37;
}

h1 {
  background-color: #00e0ff;
  background-image: linear-gradient(75deg, #7f45e2, #7000ff 48%, #2d2a37);
  border: 0.5 thin black;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}

.title {
  text-transform: uppercase;
  background-image: linear-gradient(75deg, #2d2a37, #38c1bc 48%, #25c56d);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

body {
  margin: 0px;
  background: linear-gradient(180deg, #807ece 0%, #8e7ece 100%);
  font-family: "Roboto", sans-serif;
}

.parent {
  background-color: #8d2be8;
  box-shadow: 0 10px 20px rgba(41, 41, 0.2);
  border-width: 2px;
  padding: 2rem;
  width: 20%;
  justify-content: center;
  margin-top: 30px;
  gap: 2.6rem;
  border-radius: 4.8rem;
  background: #2d2a37;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.22) inset,
    0px 6px 8px 0px rgba(255, 255, 255, 0.1) inset,
    0px 8px 17px 0px rgba(0, 0, 0, 0.29), 0px 30px 30px 0px rgba(0, 0, 0, 0.26),
    0px 68px 41px 0px rgba(0, 0, 0, 0.15),
    0px 120px 48px 0px rgba(0, 0, 0, 0.04),
    0px 188px 52px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@media (max-width: 400px) {
  html,
  body {
    background-color: #e97222;
    min-width: 200px;
  }
  .row input {
    font-size: 20px;
    border-radius: 5px;
  }
  .button {
    width: 50px;
  }
  .parent {
    width: 95%;
    border-radius: 2rem;
  }
}

@media (max-width: 790px) {
  .parent {
    width: 70%;
    border-radius: 3rem;
  }
}
