@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  color: white;
  background-color: #7737f9;
}

.button{
  width: 66px;
  padding: 6px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(78, 76, 76);
  color: white;
  
}

.row{
  margin: 0px 0px;
  
  
}
.row input{
  width: 270px;
  font-size: 20px;
    margin: 0;
    padding: 6px 0px;
    border: 2px solid black;
    border-radius: 5px;
}