/* .text-center{
  text-align: center;
}

.bg-red{
  background: #f5d60f;
}

/* .mx-auto{
 margin: auto;
} 

.flex{
  display:flex;
  background-color:rgb(9, 2, 17);
  width: 100%;
  margin: 15px;
}

.flex-col{
  flex-direction: column;
  margin: auto;
}

.items-center{
  align-items: center;
} */